/*****************************************************************************/
/* TopicShow: Style */
/*****************************************************************************/
.topic-show {
}

.btn.delete, .btn.edit {
  margin: 2px;
  padding: 0px 10px;
  background-color: #a1887f;
}
