<template name="carousel">
  <div id="acc-wrap">
    <div id="accordion">
      <div id="accdiv">
        <ul id="accul">
          <li class="accli">
            <a href="http://www.example.com" target="_blank">
              <div class="imgdiv"><div class="imgwrap"><img src="accordion/01.jpg" alt=""></div></div>
              <div class="short"><p><span>David Rowan</span></p></div>
              <div class="text bottom-right">
                <p><span>Co-founder, COO</span></p>
              </div>
            </a>
          </li>

          <li class="accli">
            <a href="accordion/img/02.jpg" data-gallery="gallery" data-cap="lightbox caption 02">
              <div class="imgdiv"><div class="imgwrap"><img src="accordion/02.jpg" alt=""></div></div>
              <div class="short"><p><span>Paul Cuciureanu</span></p></div>
              <div class="text top-left">
		<p><span>Co-founder, COO</span></p>
                <p><span style="background: rgba(57, 108, 124, 0.52);">Co-founder, CPO</span></p>
              </div>
            </a>
          </li>

          <li class="accli">
            <a>
              <div class="imgdiv"><div class="imgwrap"><img src="accordion/03.jpg" alt=""></div></div>
              <div class="short"><p><span>David Rowan</span></p></div>
              <div class="text top-right">
                <p class=""><span>Co-founder, COO</span></p>
              </div>
            </a>
          </li>

          <li class="accli">
            <a>
              <div class="imgdiv"><div class="imgwrap"><img src="accordion/04.jpg" alt=""></div></div>
              <div class="short"><p><span>Paul Cuciureanu</span></p></div>
              <div class="text bottom-left">
                <p><span style="background:rgba(44, 128, 128, 0.54)">Co-founder, CPO</span></p>
              </div>
            </a>
          </li>

          <li class="accli">
            <a>
              <div class="imgdiv"><div class="imgwrap"><img src="accordion/05.jpg" alt=""></div></div>
              <div class="short"><p><span>David Rowan</span></p></div>
              <div class="text bottom-right">
		<p class=""><span>Co-founder, COO</span></p>
              </div>
            </a>
          </li>

          <li class="accli">
            <a>
              <div class="imgdiv"><div class="imgwrap"><img src="accordion/06.jpg" alt=""></div></div>
              <div class="short"><p><span>Paul Cuciureanu</span></p></div>
              <div class="text bottom-right">
		<p><span>Co-founder, CPO</span></p>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!--      <div class="Controller"></div> -->
    </div>
  </div>
</template>
