/*****************************************************************************/
/* Me: Style */
/*****************************************************************************/
.me {
  background-color: #c5cae9;
  padding: 10px;
  border-radius: 3px;
  border-color: 1px solid #8c9eff;
}
