<template name="Profile">
  <h1>My Profile</h1>
  {{#if currentUser}}
    <div class="row">
      <div class="col s8 m4 l3">
        {{#if photo}}
          <div>
            <img src={{photo}} class="responsive-img"/>
          </div>
        {{/if}}
        <a id="photo_camera" class="btn"><i class="material-icons left">photo_camera</i> Take Photo</a>
        <p>{{email}}</p>
      </div>
    </div>
    <div class="row">
      <form id="profile" class="col s12">
        <input type="text" name="name" placeholder="Name, e.g.: Paul Cuciureanu" value="{{profile.name}}" />
        <input type="text" name="linkedin" placeholder="LinkedIn link, e.g.: https://ca.linkedin.com/in/paulcu" value="{{profile.linkedin}}" />
        <input type="text" name="twitter" placeholder="Twitter link, e.g.: https://twitter.com/pcuci" value="{{profile.twitter}}" />
        <input type="text" name="facebook" placeholder="Facebook link, e.g.: https://www.facebook.com/paulcuciureanu" value="{{profile.facebook}}" />
        <input type="submit" class="btn" value="Save Profile" />
      </form>
    </div>
  {{else}}
    <p>Sign in to announce your presence</p>
  {{/if}}
  {{> Reactions}}
</template>
