/*****************************************************************************/
/* Players: Style */
/*****************************************************************************/
.players {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
