<template name="Topics">
  <div class="row">
    {{#if canVote}}
      {{#if availablePoints}}
        <p>You have <span class="badge">{{availablePoints}}</span> points to assign to your favorite topics</p>
      {{else}}
        <p class="text-danger">No more points to distribute</p>
      {{/if}}
    {{/if}}
    <ul class="list-group">
      {{#each topics}}
        {{> Topic}}
      {{/each}}
    </ul>
  </div>
  {{#if currentUser}}
    <div class="row">
      <div class="col-sm-12">
        <form role="form" class="form form-inline">
          <div class="form-group">
            <button type="submit" class="btn btn-default">Add</button>
            <input type="text" class="form-control" name="name" placeholder="New Topic" value="{{name}}" />
          </div>
        </form>
      </div>
    </div>
  {{/if}}
</template>
