/*****************************************************************************/
/* Topics: Style */
/*****************************************************************************/
.voting-explain {
  color: gray;
}

.new-keyword-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.new-keyword-container input[type=text] {
  margin-right: 15px;
}

.new-keyword-container button {
  flex-grow: 1;
  position: static;
  display: inline-block;
  align-self: center;
}
