<template name="Topics">
  <div class="row">
    {{#if canVote}}
      <p>Use keywords to find people <span class="points">{{availablePoints}} to distribute</span></p>
    {{/if}}
    <div class="list-group">
      {{#each topics}}
        {{> Topic}}
      {{/each}}
    </div>
    {{#if currentUser}}
      <p>‎Viewing keywords votes them upward; use the green button to remove votes</p>
      <form role="form" class="form form-inline">
        <div class="form-group">
          <input type="text" class="form-control" name="name" placeholder="New Keyword" value="{{name}}" />
          <button type="submit" class="btn">Add</button>
        </div>
      </form>
    {{/if}}
  </div>
</template>
