/*****************************************************************************/
/* Person: Style */
/*****************************************************************************/
.person {
  max-width: 100px;
  display: inline-block;
  border: 1px solid #ffe0b2;
  padding: 4px;
  margin: 0 3px 0 0;
  background-color: white;
  vertical-align: top;
  border-radius: 2px;
}

ul.social-icons {
  padding: 0;
  margin: 2px;
}

ul.social-icons > li {
  display: inline-block;
  padding: 0;
  margin-right: 4px;
}
