/*****************************************************************************/
/* Person: Style */
/*****************************************************************************/
.person {
  max-width: 130px;
  display: inline-block;
  border: 1px solid #b2dfdb;
  padding: 5px;
  margin: 2px;
  background-color: white;
  vertical-align: top;
  border-radius: 4px;
}

ul.topics-list {
  padding: 0;
}

ul.topics-list > li {
  display: inline-block;
  margin-right: 8px;
  background-color: #eceff1;
  border-radius: 3px;
  padding: 1px 5px;
  margin: 1px;
}

ul.reactions-list {
  padding: 0;
}

ul.reactions-list > li {
  display: inline-block;
  margin: 0;
}
