<template name="Person">
  <div class="person">
    {{#if photo}}
      <div>
        <img src={{photo}} class="responsive-img player-photo"/>
      </div>
    {{else}}
      <div>
        <img src="/img/people/default.jpg" class="responsive-img"/>
      </div>
    {{/if}}
    <p>{{profile.name}}</p>
    <p>{{profile.firstName}}</p> <!-- linkedin -->
    <ul class="social-icons">
      {{#if profile.linkedin}}
        <li>
            <a href="{{profile.linkedin}}" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
        </li>
      {{/if}}
      {{#if profile.twitter}}
        <li>
          <a href="{{profile.twitter}}" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
        </li>
      {{/if}}
      {{#if profile.facebook}}
        <li>
          <a href="{{profile.facebook}}" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
        </li>
      {{/if}}
    </ul>
    <ul class="topics-list">
      {{#each topics}}
        <li>{{name}}</li>
      {{/each}}
    </ul>
  </div>
</template>
