<template name="Navigation">
  <nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">
        {{#linkTo route='Home'}}
          {{dict 'site.name' 'Magnet'}}
        {{/linkTo}}
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="{{active '/teams'}}">
          {{#linkTo route='Teams'}}
            Teaming
          {{/linkTo}}
        </li>
        <li class="{{active '/keywords'}}">
          {{#linkTo route='Keywords'}}
            Keywords
          {{/linkTo}}
        </li>
        {{#if currentUser}}
          <li class="{{active '/profile'}}">
            {{#linkTo route='profile'}}
	             {{myName}}
            {{/linkTo}}
          </li>
        {{/if}}
        <li>
          {{> atNavButton}}
        </li>
      </ul>
      <ul id="slide-out" class="side-nav">
        <li class="{{active '/teams'}}">
          {{#linkTo route='Teams'}}
            Teaming
          {{/linkTo}}
        </li>
        <li class="{{active '/keywords'}}">
          {{#linkTo route='Keywords'}}
            Keywords
          {{/linkTo}}
        </li>
        {{#if currentUser}}
          <li class="{{active '/profile'}}">
            {{#linkTo route='profile'}}
	            {{myName}}
            {{/linkTo}}
          </li>
        {{/if}}
        <li>
          {{> atNavButton}}
        </li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</template>
