<template name="Navigation">
  <nav class="navbar navbar-inverse navbar-fixed-top navbar-expanded">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">
          Entrain
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="{{active '/'}}">
            {{#linkTo route='Home'}}
              Topics
            {{/linkTo}}
          </li>
          <li class="{{active '/teams'}}">
            {{#linkTo route='Teams'}}
              Teams
            {{/linkTo}}
          </li>
          {{> loginButtons }}
        </ul>
      </div>
    </div>
  </nav>
</template>
