/*****************************************************************************/
/* Keyword: Style */
/*****************************************************************************/
.keyword {
  color: #3C80F6;
  flex: 0 0 auto;
  margin: 2px;
  background-color: #F6F6F6;
  padding: 8px 7px 5px;
  border-radius: 6px;
  border: none;
  line-height: 1rem;
  white-space: nowrap;
  text-align: center;
  height: 30px;
  &:hover {
    cursor: pointer;
    background-color: #F3F3FE;
  }

  &:last-child {
    margin-right: 0;
  }

  a.name {
    &:hover {
      cursor: pointer;
    }
    &:visited {
      color: #3F51B5;
    }
  }

  span.votes {
    display: inline-block;
    position: relative;
    top: -1px;
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    color: #919191;
    background-color: #DEDEDE;
    padding: 4px 5px 2px 5px;
    border-radius: 10px;
    border: none;
    vertical-align: middle;
    line-height: 1;
    white-space: nowrap;
    margin-left: 2px;
  }
}
