template(name="Team")
  .team
    if currentUser
      +linkTo(route='TeamShow' class='btn-flat right')
        i.material-icons.left chat_bubble_outline
        | Chat
    h2 {{name}}
    p.purpose {{purpose}}
    if participating
      +linkTo(route='TeamEdit' class="btn-flat")
        i.material-icons.left create
        | Edit
    +Players
    +TeamKeywords
    if latestMessage
      p
        linkTo(route='TeamShow')
          i.material-icons.left chat_bubble_outline
          i {{latestMessage}}
    if currentUser
      .team-actions
        if participating
          +quickForm(id=newTeamKeywordFormId doc=teamKeywordDoc schema=teamKeywordSchema type="normal" omitFields="created,updated,authorId")
          a.btn-flat.leave.right
            i.material-icons.left clear
            | Leave Project
        else
          a.btn.join.right
            i.material-icons.left input
            | Join Team
