/*****************************************************************************/
/* Team: Style */
/*****************************************************************************/
.team {
  padding: 10px;
  margin: 10px 0;
  background-color: #ffcc80;
  border: 1px solid #ffb74d;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.purpose {
  font-weight: normal;
}

.team-footer {
  position: static;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  ul.topics-list {
    position: static;
    flex: 1;
    margin-right: 15px;
  }
  .team-actions {
    position: static;
    display: inline-block;
    align-self: flex-end;
  }
}
select {
  display: inline;
}

