/*****************************************************************************/
/* Team: Style */
/*****************************************************************************/
.team {
}

.team-name {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 4px;
}
