<template name="Team">
  {{#if currentUser}}
    {{#linkTo route='TeamShow' class='btn right'}}
      <i class="material-icons left">chat_bubble_outline</i> Team Chat
    {{/linkTo}}
  {{/if}}
  <h1>
    {{name}} - {{purpose}}
  </h1>
  {{> Players}}
  <ul class="topics-list">
    {{#each topics}}
      <li>{{name}}</li>
    {{/each}}
  </ul>
  {{#if currentUser}}
    <div class="row">
      {{#if participating}}
        <button class="btn-flat leave right">
          <i class="material-icons left">clear</i> Quit Project
        </button>
      {{else}}
        <button class="btn join right">
          <i class="material-icons left">input</i> Join Team
        </button>
      {{/if}}
    </div>
  {{/if}}
</template>
