<template name="Team">
  {{#if currentUser}}
    {{#if participating}}
      <button class="btn leave pull-right">
        <i class="fa fa-sign-out"></i> Quit Project
      </button>
    {{else}}
      <button class="btn join pull-right">
        <i class="fa fa-sign-in"></i> Join Project
      </button>
    {{/if}}
  {{/if}}
  {{#linkTo route='TeamShow' class="btn team-name"}}
    <i class="material-icons small">chat</i>
    {{name}}
  {{/linkTo}}
  <br />
  {{purpose}}
  {{> Players}}
  <ul class="topics-list">
    {{#each topics}}
      <li>{{name}}</li>
    {{/each}}
  </ul>
</template>
