<template name="Team">
  {{#if currentUser}}
    {{#linkTo route='TeamShow' class='btn right'}}
      <i class="material-icons left">chat_bubble_outline</i> Team Chat
    {{/linkTo}}
  {{/if}}
  <h2>{{name}}</h2>
  <p class="purpose">{{purpose}}</p>
  {{> Players}}

  {{#if latestMessage}}
    <p>
      {{#linkTo route='TeamShow'}}
        <i class="material-icons left">chat_bubble_outline</i>
        <i>"{{latestMessage}}"</i>
      {{/linkTo}}
    </p>
  {{/if}}

  <div class="team-footer">
    <ul class="topics-list">
      {{#each topics}}
        <li>{{name}}</li>
      {{/each}}
    </ul>
    {{#if currentUser}}
      <div class="team-actions">
        {{#if participating}}
          <button class="btn-flat leave right">
            <i class="material-icons left">clear</i> Quit Project
          </button>
        {{else}}
          <button class="btn join right">
            <i class="material-icons left">input</i> Join Team
          </button>
        {{/if}}
      </div>
    {{/if}}
  </div>
</template>
