/*****************************************************************************/
/* Player: Style */
/*****************************************************************************/
.player {
  max-width: 110px;
  display: inline-block;
  border: 1px solid #ffab40;
  padding: 5px;
  margin: 0 4px 0 0;
  background-color: white;
  vertical-align: top;
  border-radius: 4px;
}

img.player-photo {
  width: auto;
}

.organizer {
  border: 3px solid yellow;
}
