template(name='Keywords')
  .row
    .col.s12
      p Explore keywords to team up
      div.keywords
        each keywords
          +Keyword
      if currentUser
        +quickForm(id="newKeyword" schema=keywordSchema type="normal" omitFields="created,updated,authorId")
