template(name='Keywords')
  .row
    .col.s12
      p Explore keywords to team up
      div.keywords
        each keywords
          +Keyword
      if currentUser
        form#new-keyword.col.s12
          .row.new-keyword-container
            input(name="name" placeholder="New Keyword" type="text" value="{{name}}")
            button.btn(type="submit")
              i.material-icons.left add
              | Add
        p.voting-explain ‎Viewing keywords automatically votes them up
