/*****************************************************************************/
/* Keywords: Style */
/*****************************************************************************/
.keywords {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
