/*****************************************************************************/
/* Playfields: Style */
/*****************************************************************************/
.playfields {
}
#activePlayfield {
  width: auto;
  p {
    display: inline-block;
    margin-right: 20px;
  }
  .af-radio-group {
    padding-bottom: 0;
    & + label {
      display: none;
    }
  }
}
