template(name="TeamKeywords")
  .row
    .col.s12
      div.keywords
        each keywords
          +Keyword
      if currentUser
        form#new-team-keyword.col.s12
          .row.new-keyword-container
            input(name="name" placeholder="New Keyword" type="text" value="{{name}}")
            button.btn(type="submit")
              i.material-icons.left add
              | Add
