template(name="TeamKeywords")
  .row
    .col.s12
      div.keywords
        each keywords
          +Keyword
      if currentUser
        +quickForm(id=formId doc=teamKeywordDoc schema=teamKeywordSchema type="normal" omitFields="created,updated,authorId")
