<template name="Footer">
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        &copy; 2015, {{dict 'site.company.name' 'SpeedTeam'}}
        <div class="right">
          <a href="mailto:{{dict 'site.email' 'happy@speedteam.ca'}}">{{dict 'site.email' 'happy@speedteam.ca'}}</a>
          {{#each pages}}
            |
            <a href="{{path}}">
              {{title}}
            </a>
          {{/each}}
        </div>
      </div>
    </div>
  </footer>
</template>
