<template name="Footer">
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        &copy; 2015, {{dict 'site.company.name' 'SpeedTeam'}} 
	<a href="#" class="right"
		onClick='alert("Live social teaming for in-person events: http://speedteam.ca (International Startup Fest instance) Find team mates, do micro-projects");'>&nbsp; | About | </a>
	<a href="mailto:{{dict 'site.email' 'happy@speedteam.ca'}}" class="right">{{dict 'site.email' 'happy@speedteam.ca'}}</a>
      </div>
    </div>
  </footer>
</template>
