<template name="Topic">
  <div class="topic">
    {{#if currentUser}}
      {{#if canUpvote}}
        {{#if totalPoints}}
          {{#linkTo route='TopicShow' class="btn plusOne"}}
            <div class="{{topicSize}}">{{name}}</div>
            <span class="right">&nbsp;+ {{totalPoints}}</span>
          {{/linkTo}}
        {{else}}
          <a class="btn plusOne">
            <div class="topic {{topicSize}}">{{name}}</div>
          </a>
        {{/if}}
      {{else}}
        {{#linkTo route='TopicShow' class="btn disabled"}}
          <div class="{{topicSize}}">
            {{name}}
          </div>
          <span class="right">&nbsp;+ {{totalPoints}}</span>
        {{/linkTo}}
      {{/if}}
      {{#if canDownvote}}
        <a class="btn minusOne">- {{points}}</a>
      {{/if}}
    {{else}}
      {{#linkTo route='TopicShow' class="btn disabled"}}
        <div class="{{topicSize}}">
          {{name}}
        </div>
        <span class="right">&nbsp;+ {{totalPoints}}</span>
      {{/linkTo}}
    {{/if}}
  </div>
</template>
