<template name="Topic">
  <li class="list-group-item topic-line">
    {{#if currentUser}}
      {{#if canUpvote}}
        {{#if totalPoints}}
          <button class="btn plusOne">
            <span class="topic {{topicSize}}">
              {{#linkTo route='TopicShow'}}
                {{name}}
              {{/linkTo}}
            </span>
            <i class="fa fa-long-arrow-up"></i>
            {{totalPoints}}
          </button>
        {{else}}
          <button class="btn plusOne"><i class="fa fa-long-arrow-up"></i></button>
        {{/if}}
      {{else}}
        {{#linkTo route='TopicShow'}}
          <button class="btn disabled">
            <span class="topic {{topicSize}}">
              {{name}}
            </span>
            <i class="fa fa-long-arrow-up"></i>
            {{totalPoints}}
          </button>
        {{/linkTo}}
      {{/if}}
      {{#if canDownvote}}
        <button class="btn minusOne"><i class="fa fa-long-arrow-down"></i> {{points}}</button>
      {{else}}
        <button class="btn disabled"><i class="fa fa-long-arrow-down"></i></button>
      {{/if}}
    {{/if}}

  </li>
</template>
