/*****************************************************************************/
/* Topic: Style */
/*****************************************************************************/
.topic {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  text-overflow: ellipsis;
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
}

.topic-line {
  white-space: nowrap;
  padding: 2px;
  margin: 2px 0;
}
