<template name="TeamShow">
  <h1>
    {{team.name}} Chat <i class="material-icons">chat</i>
  </h1>
  <ul class="collection">
    {{#each messages}}
      <li class="collection-item avatar">
        <img src="{{photo}}" alt="" class="circle">
        <p>{{message}}</p>
        <!--<span class="secondary-content">
          {{#if canDelete}}
            <a href="#"><i class="material-icons tiny">delete</i></a>
          {{/if}}
          <a href="#"><i class="material-icons">thumb_up</i></a>
        </span>-->
      </li>
    {{/each}}
  </ul>
  {{#if currentUser}}
    <form class="col s12">
      <div class="row valign-wrapper">
        <div class="input-field col s10">
          <input name="message" type="text" class="validate" placeholder="Question? Answer. 😄" value="{{message}}">
        </div>
        <div class="col s2">
          <button type="submit" class="btn"><i class="material-icons">send</i></button>
        </div>
      </div>
    </form>
  {{/if}}
</template>
