<template name="Teams">
  <div class="row">
    <div class="col-sm-12">
      {{#if currentUser}}
        <form role="form" class="form form-inline" id="new-team-form">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Team Name" value="{{name}}" />
            <input type="text" class="form-control" name="purpose" placeholder="Purpose" value="{{purpose}}" />
            <button type="submit" class="btn btn-default">Create Team</button>
          </div>
        </form>
      {{else}}
        Sign in to create or join a team
      {{/if}}
      {{#each teams}}
        <div class="teams-row">
          {{> Team}}
        </div>
      {{/each}}
    </div>
  </div>
</template>
