<template name="Teams">
  <div class="row">
    <div class="col s12">
      {{#if currentUser}}
        <div class="section-header">
          {{#linkTo id="create-team" route="TeamNew" class="btn right"}}
            <i class="material-icons left">add</i>Create Team
          {{/linkTo}}
          <p>Team up on small projects</p>
        </div>
      {{else}}
        <p>Sign in to join teams or create your own project</p>
      {{/if}}
      {{#each teams}}
        <div class="team">
          {{> Team}}
        </div>
      {{/each}}
    </div>
  </div>
  {{> People}}
</template>
