/*****************************************************************************/
/* Teams: Style */
/*****************************************************************************/
.teams {}

.section-header {
  margin: 10px 0;
  clear: both;
  overflow: auto;
}

a#create-team {
  background-color: #ff9800;
}

select[name=playfieldId] {
  display: none;
}
