<template name="Teams">
  <div class="row">
    <div class="col s12">
      {{#if currentUser}}
        <p>Team up</p>
        <form role="form" class="form" id="new-team-form">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Team Name" value="{{name}}" />
            <input type="text" class="form-control" name="purpose" placeholder="Purpose" value="{{purpose}}" />
            <button type="submit" class="btn">Create Team</button>
          </div>
        </form>
      {{else}}
        <p>Sign in to team up</p>
      {{/if}}
      {{#each teams}}
        <div class="team">
          {{> Team}}
        </div>
      {{/each}}
    </div>
  </div>
  {{> People}}
</template>
