/*****************************************************************************/
/* Teams: Style */
/*****************************************************************************/
.teams {
}

.nopadding-left {
   padding-left: 0 !important;
   margin-left: 0 !important;
}

.nopadding-right {
   padding-right: 0 !important;
   margin-right: 0 !important;
}
