.btn, .btn-flat {
  padding: 0px 12px;
}

.btn {
  background-color: #03a9f4;
  &.delete, &.edit {
    margin: 2px;
    padding: 0px 10px;
    background-color: #a1887f;
  }
}

.btn:hover {
  background-color: #40c4ff;
}

i.right {
  margin-left: 6px;
}

i.left {
  margin-right: 6px;
}
