.input-field label.active {
  font-size: 0.8rem;
  -webkit-transform: translateY(-180%);
  -moz-transform: translateY(-180%);
  -ms-transform: translateY(-180%);
  -o-transform: translateY(-180%);
  transform: translateY(-180%);
}

.collection {
  border: none;
}

h1, h2, h3, h4, h5, h6 {

}

h1 {
  font-size: 2.2rem;
  line-height: 2.508rem;
  margin: 1.14rem 0 0.912rem 0;
}

h2 {
  font-size: 1.9rem;
  line-height: 2.1rem;
  margin: 0.95rem 0 0.82rem 0;
}

h3 {
  font-size: 1.60rem;
  line-height: 1.804rem;
  margin: 0.82rem 0 0.656rem 0;
}

h4 {
  font-size: 1.42rem;
  line-height: 1.6rem;
  margin: 0.71rem 0 0.58rem 0;
}

h5 {
  font-size: 1.3rem;
  line-height: 1.4rem;
  margin: 0.65rem 0 0.5rem 0;
}

/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.xs-topic {
  font-size: 14px;
  display: inline-block;
}
.sm-topic {
  font-size: 16px;
  display: inline-block;
}
.md-topic {
  font-size: 20px;
  display: inline-block;
}
.lg-topic {
  font-size: 26px;
  display: inline-block;
}
.xl-topic {
  font-size: 30px;
  display: inline-block;
}

img {
  max-width: 300px;
}

.row {
  margin-bottom: 4px;
}

section {
  margin-bottom: 30px;
}

i.material-icons.left {
  margin-right: 7px;
}

i.material-icons.right {
  margin-left: 7px;
}

.container:after { 
   content: "";
   display: block;
   clear: both;
}
