/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
input[type="text"], textarea {
  width: 100%;
  padding: 5px;
  margin: 2px;
}

.xs-topic {
  font-size: 14px;
}
.sm-topic {
  font-size: 18px;
}
.md-topic {
  font-size: 22px;
}
.lg-topic {
  font-size: 30px;
}
.xl-topic {
  font-size: 40px;
}

li.list-group-item {
  display: block;
  vertical-align: middle;
  border: none;
}

.btn {
  background-color: #29b6f6;
}

.btn:hover {
  background-color: #40c4ff;
}

img {
  max-width: 300px;
}
