/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.xs-topic {
  font-size: 14px;
  display: inline-block;
}
.sm-topic {
  font-size: 16px;
  display: inline-block;
}
.md-topic {
  font-size: 20px;
  display: inline-block;
}
.lg-topic {
  font-size: 26px;
  display: inline-block;
}
.xl-topic {
  font-size: 30px;
  display: inline-block;
}

.btn {
  background-color: #03a9f4;
}

.btn:hover {
  background-color: #40c4ff;
}

img {
  max-width: 300px;
}

.row {
  margin-bottom: 4px;
}

section {
  margin-bottom: 30px;
}
